{% extends "base.html" %}


{% block body %}
<style>
    
        .img-account-profile {
            height: 10rem;
        }
        .rounded-circle {
            border-radius: 50% !important;
        }
        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }
        .card .card-header {
            font-weight: 500;
        }
        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }
        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }
        .form-control, .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            color: #00000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }
        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }
</style>

<div class="container-xl px-4 mt-4" style="margin-bottom:60px;">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link  active  ms-0" href="#" >Profile</a>
        <a class="nav-link" href="{% url "user_profile:address" %}" >Address</a>
        <a class="nav-link" href="{% url "user_profile:order-track" %}" >Orders</a>
        <a class="nav-link" href="{% url "user_profile:rewards" %}"  >Rewards</a>
        <a class="nav-link" href="{% url "user_profile:wallet" %}">Wallet</a>
        <a class="nav-link" href="{% url "user_profile:wishlist" %}">Wishlist</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{{profile.profile.url}}" alt="">
                    <!-- Profile picture help block-->
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <p class="text h5 text-success">{{ message }}</p>
                    {% else %}
                        <p class="text h5 text-danger">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form>
                        
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" disabled type="text" ="Enter your username" value="{{user.username}}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">First name</label>
                                <input class="form-control" type="text" disabled ="Enter your first name" value="{{profile.first_name|default:'' }}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input class="form-control" type="text" disabled ="Enter your last name" value="{{profile.last_name|default:'' }}">
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Gender</label>
                                <input class="form-control" type="text" disabled  value="{{profile.gender|default:'' }}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">State</label>
                                <input class="form-control" type="text" disabled  value="{{profile.state|default:'' }}">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                        
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Mobile no.</label>
                                <input class="form-control" type="text" disabled  value="{{profile.mobile_number|default:'' }}">
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" type="email" disabled  value="{{user.email}}">
                        </div>
                        <!-- Form Row-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Reffer this code to you friend and get $40 cashback</label>
                            <input class="form-control" type="email" disabled  value="{{user.refferal_code}}">
                        </div>
                        <!-- Save changes button-->
                        <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                            Edit Profile
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='{% url "user_profile:update_profile" %}' method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Edit Profile</h4>
                    
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Profile Picture</label>
                        <input name="pic" type="file" class="form-control" >
                    </div>	

                    <div class="form-group">
                        <label>Username</label>
                        <input name="username" type="text" class="form-control" required value="{{user.username |default:''}}">
                    </div>

                    <div class="form-group">
                        <label>First Name</label>
                        <input name="firstname" type="text" class="form-control" required value="{{profile.first_name |default:''}}">
                    </div>

                    <div class="form-group">
                        <label>Last Name</label>
                        <input name="lastname" type="text" class="form-control" required value="{{profile.last_name |default:''}}">
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" name="gender">
                            <option value="male" {% if profile.gender == 'male' %}selected{% endif %}>Male</option>
                            <option value="female" {% if profile.gender == 'female' %}selected{% endif %}>Female</option>
                            <option value="other" {% if profile.gender == 'other' %}selected{% endif %}>Other</option>
                        </select>
                    </div>
                    

                    <div class="form-group">
                        <label>State</label>
                        <input name="state" type="text" class="form-control" required value="{{profile.state|default:''}}">
                    </div>

                    <div class="form-group">
                        <label>Mobile</label>
                        <input name="mobile" type="text" class="form-control" required value="{{profile.mobile_number|default:''}}">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" type="text" class="form-control" required value="{{user.email|default:''}}">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Save changes"> 
                     
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}