{% extends "base.html" %}
{% load static %}

{% block body %}

  <!-- breadcrumb area start -->
  <div class="page-layout about" data-background="{% static 'assets/img/page/About-us1.jpg' %}">
      <div class="container">
          <div class="breadcrumb-area text-center">
              <h2 class="page-title">Frequently Asked Questions</h2>
              <p>Most frequent questions and answers</p>
          </div>
      </div>
  </div>
  <!-- breadcrumb area end -->


  <!-- faq area start  -->
  <div class="faq__area pt-110 mb-110">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6">
                  <div class="title-5 mb-50 pl-20">shopping information</div>
                  <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Can i edit the files ?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                              Is it Layered ?
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                              How can i edit the masks ?
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                              How can i edit the masks ?
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                              Is the font free ?
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                              What do i need to open the files ?
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                  <div class="title-5 mb-50 pl-20">payment information</div>
                  <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsseven" aria-expanded="true" aria-controls="collapseOne">
                              What is wishlist?
                          </button>
                        </h2>
                        <div id="collapsseven" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="true" aria-controls="collapseOne">
                              How long will delivery take?
                          </button>
                        </h2>
                        <div id="collapseeight" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenne" aria-expanded="true" aria-controls="collapseOne">
                              What exactly happens after ordering?
                          </button>
                        </h2>
                        <div id="collapsenne" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="true" aria-controls="collapseOne">
                              How long will delivery take?
                          </button>
                        </h2>
                        <div id="collapseten" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeleven" aria-expanded="true" aria-controls="collapseOne">
                              How can i edit the masks ?
                          </button>
                        </h2>
                        <div id="collapseeleven" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion mb-30">
                      <div class="accordion-item c-item ">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed c-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwelve" aria-expanded="true" aria-controls="collapseOne">
                              Do I receive an invoice for my order?
                          </button>
                        </h2>
                        <div id="collapsetwelve" class="accordion-collapse collapse">
                          <div class="accordion-body">
                            <p>I am item content. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar leo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
  <!-- faq area end  -->
{% endblock body %}
    