{% extends "base.html" %}
{% load static %}

{% block body %}
<style>
.product_rating i{
    font-size:12px;
    color: #ffb503;
}

</style>
<div class="shop-page pt-85">
    <div class="container">
        <div class="row justify-content-center">
            {% comment %} <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="sidebar">
                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Product categories</h3>
                        <ul class="product-categories">
                            {% for x in category  %}
                            <li><a href="shop.html">{{x.name}} <span></span></a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                    <div class="product-widget pt-50">
                        <h3 class="widget-title mb-30">Filter By Price</h3>
                        <form action="#">
                            <div class="price-filter">
                                <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 46.4%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span>
                                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div>
                                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 7.2%; width: 41.6%;"></div><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div></div>
                                <div class="filter-form-submit mt-35">
                                    <button type="submit">Filter</button>
                                    <div class="filter-price d-inline-block pl-20">Price: <input type="button" id="amount" value="$75 - $300"></div>
                                </div>
                            </div>
                        </form>
                    
                    </div>
                   
                    
                
                    <div class="product-widget pt-50">
                        <h3 class="widget-title mb-30">Product tags</h3>
                        <div class="tags mb-50">
                            <a href="shop.html">Basketball</a>
                            <a href="shop.html">Handbag</a>
                            <a href="shop.html">Jackets</a>
                            <a href="shop.html">Kids &amp; Young</a>
                            <a href="shop.html">Training Wear</a>
                            <a href="shop.html">Women’s</a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                <div class="shop-top-bar position-relative">
                    <div class="showing-result">
                        <p> Showing all 21 results</p>
                    </div>
                    <div class="shop-tab">
                        <nav>
                            <div class="nav nav-tabs shop-tabs" id="nav-tab" role="tablist">
                                <button>
                                    <span>views</span>
                                </button>
                                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">
                                    <img src="{% static 'assets/img/essential/i2.svg' %}" alt="">
                                </button>
                                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">
                                    <img src="{% static 'assets/img/essential/i3.svg' %}" alt="">
                                </button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                    <img src="{% static 'assets/img/essential/i4.svg' %}" alt="">
                                </button>
                            <button class="nav-link" id="nav-contact-tab2" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                                <img src="{% static 'assets/img/essential/list.svg' %}" alt="">
                            </button>
                        </div>
                            </nav>                                 
                    </div>
                    <div class="shop-filtaring">
                        <div class="filter-select">
                            <select class="order-by">
                                <option value="Default setting">Default setting</option>
                                <option value="Default setting">short by popularity</option>
                                <option value="Default setting">short by average rating</option>
                                <option value="Default setting">short by latest</option>
                                <option value="Default setting">short by price : low to high</option>
                                <option value="Default setting">Default setting</option>
                            </select>
                                <button class="open-filter"><i class="fal fa-plus"></i>filter</button>
                                <div class="filter-content">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-3">
                                            <div class="product-widget pt-50">
                                                <h3 class="widget-title mb-30">color</h3>
                                                <div class="colors-layer">
                                                    <a href="shop.html"><span class="blue"></span></a>
                                                    <a href="shop.html"><span class="gray"></span></a>
                                                    <a href="shop.html"><span class="skyblue"></span></a>
                                                    <a href="shop.html"><span class="red"></span></a>
                                                    <a href="shop.html"><span class="yellow"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3">
                                            <div class="product-widget pt-50">
                                                <h3 class="widget-title mb-30">Size</h3>
                                                <div class="layer-size">
                                                    <span>3XL</span>
                                                    <span>L</span>
                                                    <span>M</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3">
                                            <div class="product-widget pt-50">
                                                <h3 class="widget-title mb-30">Filter By Price</h3>
                                                <form action="#">
                                                    <div class="price-filter">
                                                        <div id="slider-range-2" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 46.4%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span>
                                                            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div>
                                                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 7.2%; width: 41.6%;"></div><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div></div>
                                                        <div class="filter-form-submit mt-35">
                                                            <button type="submit">Filter</button>
                                                            <div class="filter-price d-inline-block pl-20">Price: <input type="button" id="amount-2" value="$75 - $300"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                            
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-lg-3">
                                            <div class="product-widget pt-50">
                                                <h3 class="widget-title mb-30">Product tags</h3>
                                                <div class="tags mb-50">
                                                    <a href="shop.html">Basketball</a>
                                                    <a href="shop.html">Handbag</a>
                                                    <a href="shop.html">Jackets</a>
                                                    <a href="shop.html">Kids &amp; Young</a>
                                                    <a href="shop.html">Training Wear</a>
                                                    <a href="shop.html">Women’s</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="shop-page-product pt-50 pb-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="tab-content" id="nav-tabContent">    
                                <div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="row">

                                    {% for product in products  %}

                                        <div class="col-xl-4">
                                            <div class="product product-4">
                                                <div class="product__thumb">
                                                    <a href={% url "main:product_details" product.id %}>
                                                        <img class="product-primary" src="{{product.image.url}}" alt="product_image">
                                                        <img class="product-secondary" src="{{product.image.url}}" alt="product_image">
                                                    </a>
                                                    {% if product.offer or product.category.offer %}
                                                     <div class="product__update" >
                                                        <a class="#" style="">- {% if product.offer %}{{product.offer.discount}}{% else %}{{product.category.offer.discount}}{% endif %}%</a>
                                                    </div> 
                                                    {% endif %}
                                                    <div class="product-info mb-10">
                                                        <div class="product_category">
                                                            <span>Shoes, {{product.subcategory}}</span>
                                                        </div>
                                                        <div class="product_rating">
                                                             {% if product.count_reviews != 0 %}
                                                                <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half {% endif %} "></i>
                                                                <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half {% endif %} "></i>
                                                                <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half {% endif %} "></i>
                                                                <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half {% endif %} "></i>
                                                                <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half {% endif %} "></i>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                        <div class="product__name">
                                                        <h4><a href="single.html">{{product.product_name}}</a></h4>
                                                        <div class="pro-price">
                                                            {% if product.stock <= 0 %}
                                                            <p class="p-absoulute pr-1 " style="">Out of Stock</p>
                                                            {% else %}
                                                            {% if product.offer or product.category.offer %}
                                                            <p class="p-absoulute pr-1 " style="color:#4c7d4c;"><span>$</span>{{product.get_offer}}</p>
                                                            <p class="p-absoulute pr-1 " style="margin-left: 50px; font-size: 15px; color:#a33232;"><span>$</span><s>{{product.price}}</s></p>
                                                           {% else %}
                                                            <p class="p-absoulute pr-1 "><span>$</span>{{product.price}}</p>
                                                            {% endif %}
                                                            <a class="p-absoulute pr-2" href="">${{product.price}}</a>
                                                            {% endif %}
                                                            
                                                            
                                                        </div>
                                                </div>
                                                
                                           </div>

                                           
                                        </div>

                                        
                                 </div>

                                 {% endfor %}
                            
                                 
                                    
                                   
                                    
                                </div>
                                <style>
                                    .pagination a {
                                        color: black;
                                    }
                                
                                    .pagination .page-item.active a {
                                        background-color: black;
                                        border-color: black;
                                    }
                                </style>
                                
                                <nav aria-label="Page navigation example" style="margin-top: 46px;">
                                    {% if products.has_other_pages %}
                                    <ul class="pagination justify-content-center">

                                        {% if products.has_previous %}
                                      <li class="page-item">
                                        <a class="page-link" href="?page={{products.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
                                      </li>
                                      {% else %}
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                      </li>
                                      {% endif %}

                                      {% for i in products.paginator.page_range %}
                                        {% if products.number == i  %}
                                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                        {% endif %}
                                      {% endfor %}

                                      {% if products.has_next %}
                                      <li class="page-item">
                                        <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                                      </li>
                                       {% else %} 
                                       <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                      </li>
                                      {% endif %}
                                    </ul>
                                    {% endif %}
                                  </nav>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>






{% endblock body%}