{% extends "admin/adminbase.html" %}
{% load static %}

{% block body %}
<div class="row">
  <div class="col-12 grid-margin stretch-card">   
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <p class="card-description">
            The information that you enter here will be appeard on Products details page , so wisely enter all details
            </p>
            <br>
            {% for message in messages %}
        
            <h6 class="text text-danger">{{message}}</h6>
        
            {% endfor %}
            <br>

    <!----------------------------------------------------form starts-------------------------------------------------------------------------->        
            
                        <form class="forms-sample" method="post" action='{% url "products:add_products" %}' enctype="multipart/form-data">
                            {% csrf_token %}

                        <div class="form-group">
                            <label for="exampleInputName1">Product Name</label>
                            <input type="text" required name="product_name" class="form-control" id="exampleInputName1" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail3">Category</label>
                            <select class="form-control" required name="category" id="exampleSelectGender">
                                {% for x in categories %}
                                <option value="{{x.id}}"> {{x.name}} </option>
                                {% endfor %}
                            </select>   
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail3">Sub Category <span> ( eg: running , casuals , formals ) </span> </label>
                            <select class="form-control" required name="sub_category" id="exampleSelectGender">
                                <option>Casuals</option>
                                <option>Formals</option>
                                <option>Running</option>
                                <option>Boots</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea1">Description</label>
                            <textarea class="form-control" required name="description" pattern=".{100,}" title="The description must be at least 100 characters" id="exampleTextarea1" rows="4"></textarea>
                            <span id="exampleTextarea"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Available stocks </label>
                            <input type="number" required name="stocks" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputPassword4">Availabel Sizes </label>
                            <input type="text" required name="sizes" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Select available Brand</label>
                            <select class="form-control" required name="brand" id="exampleSelectGender">
                                {% for x in brands %}
                                <option value="{{x.id}}"> {{x.name}} </option>
                                {% endfor %}
                            </select>  
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Select available Offer</label>
                            <select class="form-control"  name="offer" >
                                <option value="" selected > Select offer </option>
                                {% for x in offers %}
                                <option value="{{x.id}}"> {{x.name}} </option>
                                {% endfor %}
                            </select>  
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Price</label>
                            <input type="number" required name="price" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Return Upto</label>
                            <input type="text" required name="return" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Material</label>
                            <input type="text" required name="material" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4">Warranty Upto</label>
                            <input type="text" required name="warranty" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>

                        <div class="form-group">
                            <label>Upload Thumbnail image</label>
                            <input required name="product_image" type="file" accept="image/png, image/jpeg, image/svg, image/avif, image/WEBP" class="form-control"id="image-input"  accept="image/*" />
                            <small id="image-error" class="text-danger text-center"></small>
                        </div>

                        <div class="form-group">
                            <label>Add other Images (max:3)</label>
                            <input required name="additional_images" multiple type="file" accept="image/png, image/jpeg, image/svg, image/avif, image/WEBP" class="form-control"id="image-input"  accept="image/*" />
                            <small id="image-error" class="text-danger text-center"></small>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="checkbox" name="special" class="form-check-input">
                            Special Edition 
                            </label>
                        </div>
                        
                        <div class="form-check">
                            <label class="form-check-label">
                            <input type="checkbox" name="has_offer" class="form-check-input">
                            Offerd Product
                            </label>
                        </div>
                        
                        <br>
                        
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                        </form>

            <!----------------------------------------------------form starts-------------------------------------------------------------------------->

        </div>
       </div>
  </div>  

</div>

    


{% endblock body%}