{% extends "admin/adminbase.html" %}
{% load static %}

{% block body %}


      <div class="card-body">
            <h4 class="card-title">Brand table</h4>
            <br>
            <a href="" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
                Add Brand
            </a>
            <br>
            <br>
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <h6 class="text text-danger">{{message}}</h6>
            {% else %}
            <h6 class="text text-success">{{message}}</h6>
            {% endif %}
            {% endfor %}
         <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                        Id
                        </th>
                        <th>
                        Brand Name
                        </th>
                        <th>
                        Description
                        </th>
                        <th>
                        Total Products
                        </th>
                        <th>
                            edit / delete
                        </th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    
                        {% for x in brands  %}
                                <tr>
                                        <td>
                                           {{forloop.counter}}
                                        </td>
                                        <td>
                                            {{x.name}}
                                        </td>
                                        <td>
                                            {{x.description}}
                                        </td>
                                        <td>
                                            {{x.total_products}}
                                        </td>
                                        <td>
                                           <a href="{% url "adminside:show_brand" x.id %}" class="btn btn-warning btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </a> 
                                            
                                            <a href="#deleteEmployeeModal-{{forloop.counter}}" data-toggle="modal" class="btn btn-danger btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                                </svg>
                                            </a>
                                            
                                        </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
          </div>
      </div>
     
<!------------------------------------add modal---------------------------------------------------------------->

      <div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action='{% url "adminside:add_brand" %}' method="post">
					{% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Add User</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Category Name</label>
							<input name="name" type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>description</label>
							<textarea name="description" rows="4" cols="50"  class="form-control" required></textarea>
						</div>
						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add"> 
                         
					</div>
				</form>
			</div>
		</div>
	</div>

    {% for x in brands %}
	<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Categories</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p class="text fs-6">Are you sure you want to delete , <span class="text text-primary"> "{{x.name}}" </span> Category</p>
						<p class="text text-dark fs-6"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<a href="{% url "adminside:delete_brand" x.id %}" type="submit" class="btn btn-danger">delete</a>
					</div>
				</form>
			</div>
		</div>
	</div>
    {% endfor %}
	
           
        



{% endblock body%}