{% extends "base.html" %}

{% block body %}
<style>
   
    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
    .activity-checkout {
        list-style: none
    }
    
    .activity-checkout .checkout-icon {
        position: absolute;
        top: -4px;
        left: -24px
    }
    
    .activity-checkout .checkout-item {
        position: relative;
        padding-bottom: 24px;
        padding-left: 35px;
        border-left: 2px solid #f5f6f8
    }
    
    .activity-checkout .checkout-item:first-child {
        border-color: #686868
    }
    
    .activity-checkout .checkout-item:first-child:after {
        background-color: #3b76e1
    }
    
    .activity-checkout .checkout-item:last-child {
        border-color: transparent
    }
    
    .activity-checkout .checkout-item.crypto-activity {
        margin-left: 50px
    }
    
    .activity-checkout .checkout-item .crypto-date {
        position: absolute;
        top: 3px;
        left: -65px
    }
    
    
    
    .avatar-xs {
        height: 1rem;
        width: 1rem
    }
    
    .avatar-sm {
        height: 2rem;
        width: 2rem
    }
    
    .avatar {
        height: 3rem;
        width: 3rem
    }
    
    .avatar-md {
        height: 4rem;
        width: 4rem
    }
    
    .avatar-lg {
        
        width: 5rem
    }
    
    .avatar-xl {
        height: 6rem;
        width: 6rem
    }
    
    .avatar-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 500;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%
    }
    
    .avatar-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 8px
    }
    
    .avatar-group .avatar-group-item {
        margin-left: -8px;
        border: 2px solid #fff;
        border-radius: 50%;
        -webkit-transition: all .2s;
        transition: all .2s
    }
    
    .avatar-group .avatar-group-item:hover {
        position: relative;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    
    .card-radio {
        background-color: #fff;
        border: 2px solid #eff0f2;
        border-radius: .75rem;
        padding: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block
    }
    
    .card-radio:hover {
        cursor: pointer
    }
    
    .card-radio-label {
        display: block
    }
    
    .edit-btn {
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        right: 25px;
        margin-top: -50px
    }
    
    .card-radio-input {
        display: none
    }
    
    .card-radio-input:checked+.card-radio {
        border-color: #686868!important
    }
    
    
    .font-size-16 {
        font-size: 16px!important;
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    a {
        text-decoration: none!important;
    }
    
    
    .form-control {
        display: block;
        width: 100%;
        padding: 0.47rem 0.75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #545965;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e2e5e8;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.75rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
    
    .edit-btn {
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        right: 25px;
        margin-top: -50px;
    }
    
    .ribbon {
        position: absolute;
        right: -26px;
        top: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 1px 22px;
        font-size: 13px;
        font-weight: 500
    }
    
    
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container" style="padding: 5rem 0rem;">

    <div class="row">
        <div class="col-xl-8">

            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url "orders:place_order" %}">
                        {% csrf_token %}
                        <ol class="activity-checkout mb-0 px-4 mt-3">

                            <!-- Shipping Info Section -->
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-dark">
                                        <i class="bx bxs-truck text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                        <p class="text-muted text-truncate mb-4">Select you shipping info below or add one</p>
                                        <div class="mb-3">
                                            <div class="row">
                                                {% for x in address %}
                                                <div class="col-lg-4 col-sm-6">
                                                    <div data-bs-toggle="collapse">
                                                        <label class="card-radio-label mb-0">
                                                            <input type="radio" name="address" checked="true" class="card-radio-input" value="{{ x.id }}">
                                                            <div class="card-radio text-truncate p-3">
                                                                <span class="fs-14 mb-4 d-block">Address {{forloop.counter}}</span>
                                                                <span class="fs-14 mb-2 d-block">{{x.user}}</span>
                                                                <span class="text-muted fw-normal text-wrap mb-1 d-block">{{x.address}},{{x.hometown}},{{x.district}},{{x.zipcode}}</span>
                                                                <span class="text-muted fw-normal d-block">{{profile.mobile_number}}</span>
                                                            </div>
                                                        </label>
                                                        <div class="edit-btn bg-light  rounded">
                                                            <a href="{% url "user_profile:add_address" %}" class="btn btn-dark" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
                                                                <i class="bx bx-pencil font-size-16"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Payment Info Section -->
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-dark">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Payment Info</h5>
                                        <p class="text-muted text-truncate mb-4">Select your payment method</p>
                                    </div>
                                    <div>
                                        <h5 class="font-size-14 mb-3">Payment method :</h5>
                                        <div class="row">
                                            {% comment %} <div class="col-lg-3 col-sm-6">
                                                <div data-bs-toggle="collapse">
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" class="card-radio-input">
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                            Credit / Debit Card
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>{% endcomment %}

                                             <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" class="card-radio-input" value="Online" checked>
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bxl-paypal d-block h2 mb-3"></i>
                                                            Online Payment
                                                        </span>
                                                    </label>
                                                </div>
                                            </div> 

                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" class="card-radio-input" value="COD" >
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-money d-block h2 mb-3"></i>
                                                            <span>Cash on Delivery</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label">
                                                        <input type="radio" name="pay-method" class="card-radio-input" value="wallet" >
                                                        <span class="card-radio py-3 text-center text-truncate">
                                                            <i class="bx bx-wallet d-block h2 mb-3" style="color: #878787;"></i>
                                                            <span>Wallet</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            
                            
                            <!-- Include additional payment information fields here -->
                                <div style="    margin-top: 20px; margin-left: 38px;">
                                    {{captcha}}
                                </div>
                            <!-- Add a hidden input field to store the selected address ID -->
                           {% for message in messages %}
                            <p class="text h6 text-danger" style=" margin-left: 38px;">{{message}}</p>
                            {% endfor %}
                            <!-- Replace the radio button with a submit button -->
                            <div class="text-center">
                                <button type="submit" style="float: right;" class="btn btn-success">Place Order</button>
                            </div>
                        </ol>
                    </form>
                </div>
            </div>
        </div>

        <!-- Order Summary Section -->
        <div class="col-xl-4">
            <div class="card checkout-order-summary">
                <div class="card-body">
                   
                    <div class="p-3 bg-light mb-3">  
                        <form action="{% url "orders:apply_coupon" %}" method="post">  
                            {% csrf_token %}
                        <p style="margin-bottom: 2px;">Enter any Coupon Code if you have any</p>
                        <input type="text" name="coupon-code" style="border: 2px solid #bebfc1; width: 11rem;
                        height: 2rem;
                        border-radius: 8px;" >
                        {% for message in messages %}
                        <p class="text text-danger" style="margin-bottom: 2px;">{{message}}</p>
                        {% endfor %}
                    
                        
                        <button type="submit" style="float: right;" class="btn btn-secondary btn-sm">Apply</button>
                   
                        </form>
                    </div>
                    <div class="p-3 bg-light mb-3">
                        <h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#MN0124</span></h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 table-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                    <th class="border-top-0" scope="col">Product Name</th>
                                    <th class="border-top-0" scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in cart_items %}
                                <tr>
                                    <th scope="row"><img src={{x.product.image.url}} alt="product-img" title="product-img" class="avatar-lg rounded"></th>
                                    <td>
                                        <h5 class="font-size-16 text-truncate"><a href="#" class="text-dark">{{x.product.product_name}}</a></h5>
                                        <p class="text-muted mb-0">
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star-half text-warning"></i>
                                        </p>
                                        <p class="text-muted mb-0 mt-1">$ {{x.product.price}} x {{x.quantity}}</p>
                                    </td>
                                    <td>$ {{x.subtotal}}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Discount :</h5>
                                    </td>
                                    <td>
                                        {{discount}}
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Shipping Charge :</h5>
                                    </td>
                                    <td>
                                        $ 20
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Estimated Tax :</h5>
                                    </td>
                                    <td>
                                        $ {{tax}}
                                    </td>
                                </tr>

                                <tr class="bg-light">
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Total:</h5>
                                    </td>
                                    <td>
                                        $ {{grandtotal}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Continue Shopping and Proceed buttons -->
    <div class="row my-4">
        <div class="col">
            <a href="ecommerce-products.html" class="btn btn-link text-muted">
                <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
        </div>
    </div>
</div>



{% endblock body %}