{% extends "base.html" %}

{% block body %}
<style>
   
    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
    .activity-checkout {
        list-style: none
    }
    
    .activity-checkout .checkout-icon {
        position: absolute;
        top: -4px;
        left: -24px
    }
    
    .activity-checkout .checkout-item {
        position: relative;
        padding-bottom: 24px;
        padding-left: 35px;
        border-left: 2px solid #f5f6f8
    }
    
    .activity-checkout .checkout-item:first-child {
        border-color: #686868
    }
    
    .activity-checkout .checkout-item:first-child:after {
        background-color: #3b76e1
    }
    
    .activity-checkout .checkout-item:last-child {
        border-color: transparent
    }
    
    .activity-checkout .checkout-item.crypto-activity {
        margin-left: 50px
    }
    
    .activity-checkout .checkout-item .crypto-date {
        position: absolute;
        top: 3px;
        left: -65px
    }
    
    
    
    .avatar-xs {
        height: 1rem;
        width: 1rem
    }
    
    .avatar-sm {
        height: 2rem;
        width: 2rem
    }
    
    .avatar {
        height: 3rem;
        width: 3rem
    }
    
    .avatar-md {
        height: 4rem;
        width: 4rem
    }
    
    .avatar-lg {
        
        width: 5rem
    }
    
    .avatar-xl {
        height: 6rem;
        width: 6rem
    }
    
    .avatar-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 500;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%
    }
    
    .avatar-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 8px
    }
    
    .avatar-group .avatar-group-item {
        margin-left: -8px;
        border: 2px solid #fff;
        border-radius: 50%;
        -webkit-transition: all .2s;
        transition: all .2s
    }
    
    .avatar-group .avatar-group-item:hover {
        position: relative;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    
    .card-radio {
        background-color: #fff;
        border: 2px solid #eff0f2;
        border-radius: .75rem;
        padding: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block
    }
    
    .card-radio:hover {
        cursor: pointer
    }
    
    .card-radio-label {
        display: block
    }
    
    .edit-btn {
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        right: 25px;
        margin-top: -50px
    }
    
    .card-radio-input {
        display: none
    }
    
    .card-radio-input:checked+.card-radio {
        border-color: #686868!important
    }
    
    
    .font-size-16 {
        font-size: 16px!important;
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    a {
        text-decoration: none!important;
    }
    
    
    .form-control {
        display: block;
        width: 100%;
        padding: 0.47rem 0.75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #545965;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e2e5e8;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.75rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
    
    .edit-btn {
        width: 35px;
        height: 35px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        right: 25px;
        margin-top: -50px;
    }
    
    .ribbon {
        position: absolute;
        right: -26px;
        top: 20px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        padding: 1px 22px;
        font-size: 13px;
        font-weight: 500
    }
    
    
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container" style="padding: 5rem 0rem;">

    <div class="row">
        <div class="col-xl-8">

            <div class="card">
                <div class="card-body">
                   
                        <ol class="activity-checkout mb-0 px-4 mt-3">

                            <!-- Shipping Info Section -->
                           

                            <!-- Payment Info Section -->
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-dark">
                                        <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Payment Info</h5>
                                        <p class="text-muted text-truncate mb-4">Select your payment method</p>
                                    </div>
                                    

                             <!-- Set up a container element for the button -->
                             <div id="paypal-button-container" style="width:15rem; margin-left:39px">


                             </div>

                          
                            <div class="text-center">
                                <button type="submit" style="float: right;" class="btn btn-success">Place Order</button>
                            </div>
                        </ol>
                    
                </div>
            </div>
        </div>

        <!-- Order Summary Section -->
        <div class="col-xl-4">
            <div class="card checkout-order-summary">
                <div class="card-body">
                    <div class="p-3 bg-light mb-3">
                        <h5 class="font-size-16 mb-0">Order Summary <span class="float-end ms-2">#MN0124</span></h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 table-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                    <th class="border-top-0" scope="col">Product Name</th>
                                    <th class="border-top-0" scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in cart_items %}
                                <tr>
                                    <th scope="row"><img src={{x.product.image.url}} alt="product-img" title="product-img" class="avatar-lg rounded"></th>
                                    <td>
                                        <h5 class="font-size-16 text-truncate"><a href="#" class="text-dark">{{x.product.product_name}}</a></h5>
                                        <p class="text-muted mb-0">
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star text-warning"></i>
                                            <i class="bx bxs-star-half text-warning"></i>
                                        </p>
                                        <p class="text-muted mb-0 mt-1">$ {{x.product.price}} x {{x.quantity}}</p>
                                    </td>
                                    <td>$ {{x.subtotal}}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Discount :</h5>
                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Shipping Charge :</h5>
                                    </td>
                                    <td>
                                        $ 20
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Estimated Tax :</h5>
                                    </td>
                                    <td>
                                        $ {{tax}}
                                    </td>
                                </tr>

                                <tr class="bg-light">
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Total:</h5>
                                    </td>
                                    <td>
                                        $ {{grand_total}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Continue Shopping and Proceed buttons -->
    
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AeToccBSvuWVo-Rn281Gb6ss3OtWmW1aTjcy9lni9aOJ0akt-b3BvV4vs94lrdSpUiVIpM8P_BSLo8Bc&currency=USD"></script>
<script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    
    var amount = "{{grand_total}}";
    
    var url    = "{% url "orders:online_payment_sucsses" %}";

    var orderID = "{{order.order_number}}";

    var redirect_url = "{% url "orders:order_sucsses" %}"
    
    
    
    
    
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        style: {
            color:  'blue',
            shape:  'rect',
            label:  'pay',
            height: 40,
            
        },
        
        
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units:[{
                    amount:  {
                        value:amount
                    }
                }]
            });
        },

       
        onApprove: function(data, actions) {
           return actions.order.capture().then(function(details){
            console.log(details)
            sendData();
           function sendData(){
            fetch(url,{
                method : "POST",
                headers :{
                    "Content-type":"application/json",
                    "X-CSRFToken": csrftoken,
                },
                body:JSON.stringify({
                    orderID: orderID,
                    transID : details.id,
                    payment_method : 'Paypal',
                    status : details.status ,
                }),
            })
            .then((response) => response.json())
            .then((data) => {
               window.location.href = redirect_url + '?order_number='+ data.order_number + '&payment_id='+data.transID;

            });
           }
           });
        }


    }).render('#paypal-button-container'); 
</script>


{% endblock body %}